ANTHROPIC_API_KEY=
WEBHOOK_URL=https://services.leadconnectorhq.com/hooks/uq3SxqCcKKGzpX95TcVO/webhook-trigger/7VjtHAM0xz3E43WbSA75
NEXT_PUBLIC_BOOKING_URL=https://link.skinlabaesthetics.pk/widget/bookings/aesthetic-consultant-consultation
NEXT_PUBLIC_META_PIXEL_ID=424986547363126
